body {margin: 2% 4% 2%; background-color: var(--bg); color: var(--text); --text: #121212; --bg: #f9f9f9;} 

html{scroll-behavior: smooth;}

columns {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 3%;
}

* {font-family: sans-serif; line-height: 1.4;}
a {color: var(--text);}

p, blockquote {max-width: 70ch;}

hr {border: none; height: 1px; background-color: var(--text); opacity: .2; margin: 25px 0px 25px 0px;}

img {width: 100%;}

@media (max-width: 1000px) {
columns {grid-template-columns: 1fr;}
h1, h2{margin-bottom:0;}
.right {text-align: left;}
div.logo {margin-left: 0;}
.headshot {display: none;}
.drag {display: none;}
.mii {display: none;}
}

@media (prefers-color-scheme: dark) {
body{ 
--text: silver;
--bg: #121212;}
div.poster {border: none;}
.headshot {background-color: silver; opacity: .3;}
}
