body {
background-color: var(--bg); color: var(--text); --text: #121212; --bg: #f9f9f9;
font-size: 18px;
font-family: sans-serif;
line-height: 1.4;
color: var(--textcolor);
margin: 2rem;
margin: 4%;
max-width: 43em;
overflow-x: hidden;
}

html{scroll-behavior: smooth;}

* {font-family: sans-serif; color: var(--text);}

p, blockquote {max-width: 70ch;}

a {color: var(--text);}

h1 {
font-size: 1em;
font-weight: 600;
opacity: 0.7; 
margin-bottom: -0.1em;
}

h2 {
font-size: 2.5em;
margin-bottom: 0.1em;
letter-spacing: -0.03em;
}

a {
color: var(--text);
}

nav{opacity: 0.7; margin-bottom: -1em;
}
		
nav a{
text-decoration: underline;
text-decoration-color: transparent;
transition: 0.2s;
color: var(--text);
}

nav a:hover {
text-decoration-color: var(--text);
transition: 0.2s;
}

a.inert:hover{
text-decoration-color: transparent;
}

hr {
border: none; height: 1px; background-color: var(--text); opacity: .2; margin: 25px 0px 25px 0px;}

section {
background: var(--sectionbg);
padding-bottom: 0.5em;
display: none;
max-width: 100%;
}

section:target {
display: block;
}

body:not(body:has(section:target)) section#home{
display: block;
}

footer {
opacity: 0.7;
font-size: 85%;
max-width: 43em;
}

footer a{
text-decoration: underline
}

img{
width: 100%;
height: auto;
}

@media (prefers-color-scheme: dark) {
body{ 
--text: silver;
--bg: #121212;}
}

@media only screen and (max-width: 680px) {
html{
	max-width: 100vw;
	overflow-x: hidden;
}
