body {margin: 5vw 10vw 5vw; background-color: var(--bg); color: var(--text); --text: #121212; --bg: #f9f9f9;} 

html{scroll-behavior: smooth;}

columns {
  width: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 3%;
}

* {font-family: sans-serif; line-height: 1.4;}
a {color: var(--text);}

p, blockquote {max-width: 70ch;}

hr {border: none; height: 1px; background-color: var(--text); opacity: .2; margin: 25px 0px 25px 0px;}

img {width: 100%;}

video {
	overflow: hidden;
	width: 100%;
}


@media (max-width: 1000px) {
columns {grid-template-columns: 1fr;}
margin: 5vw;
}

@media (prefers-color-scheme: dark) {
body{ 
--text: silver;
--bg: #121212;}
}
